header {
  background-color: rgb(63 81 181);
  min-height: 50px;
  text-align: center;
  color: white;
  font-size: 24px;
  padding-top: 15px;
}

.text-align-right {
  text-align: right;
  transform: translateY(-5px);
  margin-right: 15px;
}


button {
  margin-left: 10px;
}

button:hover {
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}

h3 {
  margin: 0 auto;
  margin-bottom: 10px;
}
