/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~ngx-toastr/toastr.css';

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.mat-card>.mat-card-actions:last-child{
  margin-bottom: 5px !important;
}


.mat-raised-button:not([disabled]):hover:not([class*=mat-elevation-z]) {
  box-shadow: 0 5px 5px -3px rgb(0 0 0 / 20%), 0 8px 10px 1px rgb(0 0 0 / 14%), 0 3px 14px 2px rgb(0 0 0 / 12%);
}


.wide-button {
  width: 95%;
}
