/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~ngx-toastr/toastr.css';

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.mat-card>.mat-card-actions:last-child{
  margin-bottom: 5px !important;
}
